[submodule "lib/fmt"]
	path = terrapi/lib/fmt
	url = https://github.com/fmtlib/fmt.git
	ignore = dirty
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "terrapi/lib/curlcpp"]
	path = terrapi/lib/curlcpp
	url = https://github.com/JosephP91/curlcpp.git
[submodule "terrapi/lib/toml++"]
	path = terrapi/lib/toml++
	url = https://github.com/marzer/tomlplusplus.git
[submodule "terrapi/lib/doctest"]
	path = terrapi/lib/doctest
	url = https://github.com/doctest/doctest.git
[submodule "terrapi/lib/fmt"]
	path = terrapi/lib/fmt
	url = https://github.com/fmtlib/fmt.git
