[submodule "lib/fmt"]
	path = terrapi/lib/fmt
	url = https://github.com/fmtlib/fmt.git
	ignore = dirty
[submodule "terrapi/lib/toml++"]
	path = terrapi/lib/toml++
	url = https://github.com/marzer/tomlplusplus.git
[submodule "terrapi/lib/doctest"]
	path = terrapi/lib/doctest
	url = https://github.com/doctest/doctest.git
[submodule "terrapi/lib/WiringPi"]
	path = terrapi/lib/WiringPi
	url = https://github.com/WiringPi/WiringPi.git
