[Unit]
Description=TerraPi daemon

[Service]
User=root
Group=root
WorkingDirectory=/tmp
ExecStart=/usr/bin/terrapi

[Install]
WantedBy=multi-user.target
